# dependencies
/node_modules/
/bower_components/

# build output
/dist/
/out-tsc/
/target/

# IDE and Editor folders
/.idea/
/.vscode/
/*.swp
/.history/

# environment files
/src/environments/

# Angular CLI specific
.angular/

# temporary files
*.log
*.tsbuildinfo

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
