<div class="container">
    <div class="column">
      <h2>MESAS DISPONIBLES</h2>
      <table>
        <thead>
          <tr>
            <th>NÚMERO DE MESA</th>
            <th>CAPACIDAD</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let table of tablesAvailable" (click)="onAvailableTableClick(table)" class="clickable-row" tabindex="0"
                role="button"
                (keydown.enter)="onAvailableTableClick(table)"
                (keydown.space)="onAvailableTableClick(table)">
                <td>{{ table.number }}</td>
                <td>{{ table.capacity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column">
      <h2>MESAS OCUPADAS</h2>
      <table>
        <thead>
          <tr>
            <th>NÚMERO DE MESA</th>
            <th>CAPACIDAD</th>
            <th>OCUPADA POR</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let table of tablesOccupied" (click)="onOccupiedTableClick(table)"  class="clickable-row" tabindex="0" role="button">
            <td>{{ table.number }}</td>
            <td>{{ table.capacity }}</td>
            <td>{{ table.occupiedBy }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
